/* line 2, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
* {
  margin: 0;
}

/* line 5, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
html, body {
  overflow-x: hidden;
  font-family: helvetica, sans-serif;
  height: 100%;
  min-height: 100%;
}
/* line 10, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
html a:hover, body a:hover {
  text-decoration: none;
}

/* line 14, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header {
  background-color: #00008B;
  border: none;
  padding: 1rem;
}
/* line 18, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header .header-name {
  padding-left: 1rem;
  font-size: 32px;
  font-family: sans-serif;
}
/* line 25, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header a {
  color: white;
  letter-spacing: 2px;
}
/* line 28, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header a:hover {
  text-decoration: none;
  color: white;
}
/* line 33, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header ul {
  text-align: center;
  margin-top: 1.4rem;
}
/* line 37, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header li {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-right: 2px solid #FFFFFF;
}
/* line 43, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header li:last-child {
  border-right: none;
}
/* line 46, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header li a {
  color: white;
  padding: 1rem;
}
/* line 49, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
header li a:hover, header li a:focus {
  text-decoration: none;
  background-color: #000000;
  color: white;
}

/* line 59, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
.main {
  padding: 0 3rem;
  margin-bottom: 10rem;
}

/* line 63, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -8rem;
  padding: 0 0 8rem;
}

/* line 69, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
.push {
  height: 8rem;
}

/* line 74, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
.heading {
  text-align: center;
}
/* line 76, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
.heading h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 2rem auto;
}

/* line 84, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
.link-btn {
  background-color: #C0C0C0;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 3px 1rem;
  min-width: 170px;
  text-align: center;
  color: white;
}
/* line 92, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
.link-btn:hover {
  background-color: gray;
  color: white;
}

/* line 98, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
#all-link:hover {
  text-decoration: none;
}

/* line 104, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
footer {
  color: white;
  background-color: #00008B;
  height: 8rem;
  clear: both;
  bottom: 0px;
  width: 100%;
}
/* line 111, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/application.scss */
footer p {
  float: right;
  padding: 2rem;
}
/* line 4, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.dest_img {
  border-radius: 5px;
  max-height: 400px;
  max-width: 500px;
  margin: 5px;
}

/* line 10, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.dest-main {
  margin-bottom: 3rem;
}

/* line 13, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.destination {
  margin-left: auto;
  margin-right: auto;
}

/* line 18, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.large_img {
  max-height: 300px;
}

/* line 21, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
#thumbs {
  padding-top: 10px;
  overflow: hidden;
}

/* line 25, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
#thumbs img, #largeImage {
  border: 1px solid gray;
  padding: 4px;
  background-color: white;
  cursor: pointer;
}

/* line 31, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
#thumbs img {
  float: left;
  margin-right: 6px;
}

/* line 35, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
#panel {
  position: relative;
}

/* line 38, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.extra_img {
  height: 95px;
  max-width: 140px;
}

/* line 42, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.thumb-img {
  height: 70px;
  max-width: 100px;
}

/* line 46, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.sidebar {
  height: 100%;
}

/* line 50, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
.map {
  height: 100%;
}

/* line 54, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/destinations.scss */
#map {
  width: 100%;
  height: 600px;
  background-color: grey;
  margin-bottom: 3rem;
}
/* line 1, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/forms.scss */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
}

/* line 7, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/forms.scss */
div.field, div.actions {
  margin-bottom: 10px;
}
/* line 11, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/forms.scss */
div ul li {
  font-size: 12px;
  list-style: square;
}
/*ALL SCREEN SIZES*/
/* line 5, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-jumbotron {
  height: 75rem;
}
/* line 9, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-jumbotron img {
  width: 100%;
  max-height: 75rem;
}

/* line 15, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-jumbotron-text {
  position: absolute;
  text-shadow: black 0.2em 0.2em 0.2em;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #FFFFFF;
}
/* line 22, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-jumbotron-text p {
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  background-color: #00008B;
  background: -moz-linear-gradient(top, #8c99ec 0%, #4259de 19%, darkblue 50%, #2742d9 83%, #5368e1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8c99ec 0%, #4259de 19%, darkblue 50%, #2742d9 83%, #5368e1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8c99ec 0%, #4259de 19%, darkblue 50%, #2742d9 83%, #5368e1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 4px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 35, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-jumbotron-text p:hover {
  background-color: #00008B;
  background: -moz-linear-gradient(top, #a1abef 0%, #6477e4 19%, #0000ce 50%, #4e64e0 83%, #7283e6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a1abef 0%, #6477e4 19%, #0000ce 50%, #4e64e0 83%, #7283e6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a1abef 0%, #6477e4 19%, #0000ce 50%, #4e64e0 83%, #7283e6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* line 41, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-jumbotron-text a {
  color: #FFFFFF;
}
/* line 44, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-jumbotron-text a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

/* line 49, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.feat {
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 3rem auto;
  padding: 1rem auto;
  text-decoration: underline overline;
}

/* line 56, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-featured-destinations {
  margin-bottom: 2rem;
  margin: 0 2rem 5rem 2rem;
}
/* line 59, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-featured-destinations .feature-dest {
  height: 300px;
  display: inline-block;
}
/* line 63, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-featured-destinations .destinations {
  border: 3px solid black;
  padding: 2rem;
  height: 100%;
  background-color: #F9FFFF;
  box-shadow: 3px 6px 5px 0px rgba(51, 51, 51, 0.75);
}
/* line 71, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-featured-destinations img {
  max-width: 300px;
  height: 190px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 79, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/homepage.scss */
.home-featured-destinations h2, .home-featured-destinations p {
  text-align: center;
}
/* line 4, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/tours.scss */
.tours-list {
  margin-top: 2rem;
}
/* line 6, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/tours.scss */
.tours-list .tour-list {
  height: 100px;
}
/* line 8, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/tours.scss */
.tours-list .tour-list .tour-desc {
  padding-top: 2rem;
}
/* line 11, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/tours.scss */
.tours-list .tour-list img {
  float: left;
  margin-right: 1rem;
}
/* line 4, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/trips.scss */
.my_trips {
  margin: 3rem auto;
  border-left: 1px solid darkgrey;
}

/* line 8, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/trips.scss */
.trip-show {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}
/* line 14, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/trips.scss */
.trip-show .trip-img {
  float: left;
  margin: 1rem 2rem;
}

/* line 19, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/trips.scss */
.trip-page {
  margin: 3rem;
}
/* line 21, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/trips.scss */
.trip-page img {
  float: left;
  margin-right: 3rem;
}
/* line 4, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/users.scss */
.user_img {
  max-height: 300px;
  max-width: 300px;
  margin: 3rem 0 1rem 0;
}
/* line 8, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/users.scss */
.user_img img {
  max-height: 100%;
  max-width: 100%;
}

/* line 13, /Users/georgeheap/projects/wegotcoders/Final Project/travel_app/app/assets/stylesheets/users.scss */
.user {
  margin: 5rem auto 1rem;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

