<div class="main">
  <h1>About Us</h2>
  <div class="about-us">
    <p>Welcome to Travelling Buddy. On this website you can find amazing activities in some amazing countries and citys.</p>

    <p>Travel is what makes the world go round and we are proud to have been to almost 50 countries with hopes to continue to increase that number </p>

  </div>
</div>
