// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dest_img {
  border-radius: 5px;
  max-height: 400px;
  max-width: 500px;
  margin: 5px;
}
.dest-main {
  margin-bottom: 3rem;
}
.destination {
  margin-left: auto;
  margin-right: auto;
}

.large_img {
  max-height: 300px;
}
#thumbs {
  padding-top: 10px;
  overflow: hidden;
}
#thumbs img, #largeImage {
   border: 1px solid gray;
   padding: 4px;
   background-color: white;
   cursor: pointer;
}
#thumbs img {
   float: left;
   margin-right: 6px;
}
#panel {
    position: relative;
}
.extra_img {
  height: 95px;
  max-width: 140px;
}
.thumb-img {
  height: 70px;
  max-width: 100px;
}
.sidebar {
  // float: left;
  height: 100%;
}
.map {
  height: 100%;
}

#map {
  width: 100%;
  height: 600px;
  background-color: grey;
  // float: right;
  margin-bottom: 3rem;
}
