body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
