// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_img {
  max-height: 300px;
  max-width: 300px;
  margin: 3rem 0 1rem 0;
  img {
    max-height: 100%;
    max-width :100%;
  }
}
.user {
  margin: 5rem auto 1rem;
  border-right: 3px solid black;
}

.my_trips {
  margin: 3rem auto;
  a {

    &:hover {
      text-decoration: none;
      color: black;
    }
  }

}
